<p id="notice"><%= notice %></p>

<h1>Empresas</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= link_to 'Mostrar', company %></td>
      <td><%= link_to 'Editar', edit_company_path(company) %></td>
      <td><%= link_to 'Apagar', company, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Empresa', new_company_path %>
